.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    // height: 10%;
    height: calc(100% - 140px);
    min-height: fit-content;

    // margin-top: -110px;

    .profile-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
        width: 75%;
        margin-top: -5%;
        padding-right: 2%;

        .profile-details {
            &-name {
                font-size: 24px;
                font-family: "Poppins SemiBold";
            }

            &-role {
                display: flex;
                flex-direction: column;
                margin: 14px 0 24px 0;

                h1 {
                    font-size: 40px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif; // font-style: italic;
                    min-width: 35vw;
                }
            }

            .colz {
                .colz-icon {
                    i {
                        color: white;
                        padding: 8px;
                        padding-left: 0px;
                        transition: 0.25s ease-in;

                        &:hover {
                            transform: scale(1.5);
                            transition: 0.25s ease-out;
                        }
                    }
                }
            }
        }
    }

    .primary-text {
        color: var(--white);
    }

    .highlighted-text {
        color: var(--dark-bl);
    }

    .profile-role-tagline {
        font-size: 19px;
        margin: 5px 0 0 0;
        font-family: "Poppins Light";
    }

    .profile-options {
        .highlighted-btn {
            margin: 0 0 0 28px;

            &:hover {
                background: cornsilk;
                color: #111;
            }
        }
    }

    .profile-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 1.5px 1.5px 0px var(--white);
        border-radius: 25px;
        height: 380px;
        width: 380px;

        &-background {
            height: 92%;
            width: 92%;
            border-radius: 25px; // inherit; // 100px;
            background: url("../../../assets/home/PJ_BW.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            transition: 1.5s ease-in;

            &:hover {
                transform: scale(1.07);
                transition: 1.5s ease-out;
            }
        }
    }
}

@media screen and (max-width: 1110px) {
    .profile-picture {
        margin: 0 0 0 80px;
    }
    .profile-details-name {
        font-size: 20px;
    }
    .profile-details-role {
        .primary-text {
            font-size: 12px;
        }
    }
    .profile-options {
        .btn {
            width: 120px;
            padding: 11px 0;
            z-index: 700;
        }
    }
}

@media screen and (max-width: 910px) {
    .profile-picture {
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width: 810px) {
    .profile-container {
        align-items: flex-start;

        .profile-parent {
            flex-direction: column-reverse;
            margin: 0;
        }
    }

    .profile-picture {
        margin: 0 !important;

        height: 320px;
        width: 320px;
        margin-top: unset;
    }

    .profile-options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        a {
            margin-left: 35px;
        }

        .highlighted-btn {
            margin: 0 !important;
        }
    }

    .profile-details {
        margin: 25px 0 0;
        &-role {
            text-align: center;
        }
    }
}

// @media screen and (max-width: 375px) {
@media screen and (max-width: 500px) {
    .profile-details {
        width: 90%;
    }
}
