.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    // min-height: 670px;
    // background: url("../../assets/home/bg.jpg");

    &.gradient__bg__back {
        background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
        /* opera 11.10+ */
        background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
        /* ie 10+ */
        background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    }

    &.gradient__bg {
        background: -moz-radial-gradient(circle at 3% 25%, rgb(27, 67, 80) 0%, #01131b 25%);
        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(circle at 3% 25%, rgb(27, 67, 80) 0%, #01131b 25%);
        /* opera 11.10+ */
        background: -o-radial-gradient(circle at 3% 25%, rgb(27, 67, 80) 0%, #01131b 25%);
        /* ie 10+ */
        background: -ms-radial-gradient(circle at 3% 25%, rgb(27, 67, 80) 0%, #01131b 25%);
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 3% 25%, rgb(27, 67, 80) 0%, #01131b 25%);
    }
}

@media screen and (max-width: 810px) {
    .home-container {
        height: auto;
        padding-bottom: 35px;
    }
}
